:root {
  font-family: system-ui;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

canvas {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}


.fps {
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
  background-color: #444;
  padding: 4px 12px;
  font-size: 1.75rem;
}


.switch-buttons {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100dvw;
  padding: 12px;
}

.switch-buttons button {
  background-color: #1a54f1;
  font-size: 2rem;
  border: none;
  outline: none;
  padding: 6px 22px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#ui-elements {
  position: fixed;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.33);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
}

#ui-elements button {
  background-color: #292b3c;
  border: none;
  outline: none;
  padding: 6px 22px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-family: system-ui;
}

#ui-elements button:hover {
  background-color: #494c6a;
}

.switch-buttons button:hover {
  background-color: #5683ff;
}

#scene-name {
  color: #aaa;
  font-size: 1.5rem;
}
